@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary-red: hsl(4 100% 67%);
  --color-neutral-blue-800: hsl(234 29% 20%);
  --color-neutral-blue-700: hsl(235 18% 26%);
  --color-neutral-grey: hsl(0 0% 58%);
  --font-sans: "Roboto", sans-serif;
}
